.item__list {
  padding: 0;
  list-style: none;
  margin: 20px 0;
  padding: 20px;
  min-height: 500px;
  border-radius: 10px;
  background-color: $accent2-color;
  > ul {
    padding: 0;
  }
}
.item__single {
  text-align: center;
  margin: 10px 10%;
  padding: 20px;
  border-radius: 10px;
  background-color: $item-bg-color;
  line-height: 30px;
}
.item__pageNav {
  list-style: none;
  text-align: center;
  > ul {
    padding: 0;
  }
}
.item__pageNums {
  display: inline-block;
}
